<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    <button class="hamburger-menu" name="menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>

    {%- unless page_titles == empty %}
      <nav class="site-nav js-site-nav">
        {% include nav-items.html %}
        <div class="language-selector">
          <p>Idioma: <a href="/">PT</a> | <a href="/en/">EN</a></p>
        </div>
      </nav>
    {%- endunless %}
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const hamburgerMenu = document.querySelector('.hamburger-menu');
      const siteNav = document.querySelector('.js-site-nav');
  
      if (hamburgerMenu && siteNav) {
        hamburgerMenu.addEventListener('click', function() {
          siteNav.classList.toggle('open');
        });
      }
    });
  </script>
</header>