---
layout: default
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date_to_string }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden>teste</a>
  <hr>
  <div class="related-posts">
    <h3>Posts para você ler também</h3>
    <ul>
      {% assign other_posts = site.posts | where: "lang", page.lang | where_exp: "post", "post.url != page.url" %}
      {% assign random_posts = other_posts | sample: 3 %}
      {% for post in random_posts %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span style="color:#aaa;font-size:0.9em;">({{ post.date | date: "%b %-d, %Y" }})</span>
        </li>
      {% endfor %}
      {% if random_posts == empty %}
        <li><em>Nenhum post encontrado.</em></li>
      {% endif %}
    </ul>
  </div>
</article>

{% if page.comments %}
<div class="comments-section">
  <div id="disqus_thread"></div>
  <script>
    (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://perdidoanotante.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Por favor, habilite o JavaScript para ver os <a href="https://disqus.com/?ref_noscript">comentários do Disqus.</a></noscript>
</div>
{% endif %}